@import "bourbon/bourbon";
@import "neat/neat";

/* Values */
$largest:50px;




body {
  background: gray;
  font-family: 'helvetica', 'sans-serif';
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.text-center {
  text-align: center;
}
.container {
  background: #fff;
  @include row;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */
.logo {
  padding-top: 10px;
  width: 300px;
}
.navbar {
  padding: 15px 0 0 0;
}
nav {
  width: 100%;
  background: #fff;
  height: 100px;
  text-align: center;
  }
nav ul {
list-style-type: none;
padding-top: 25px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 30px;
  font-size: $largest;
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

nav ul li a:hover {
  color: black;
}

.slides {
  width: 100%;
}

.flex-control-nav li a {
width: 11px;
height: 11px;
background: #fff;
top: 0;
}

.four {
  @include span-columns(4);
}
.four img {
  width: 100%;
  }
footer {
  @include row;
  background-color: #fff;
  height: 300px;
}
