@import "bourbon/bourbon";
@import "neat/neat";

/* Values */
$largest:30px;



h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-size: 25px;
}
p {
  text-indent: 30px;
  font-size: 18px;
  padding: 15px 35px;
}
.subtitle {
  font-style: italic;
}
body {
  background: url('img/background.jpg') no-repeat center center fixed;
  font-family: 'futura-pt', 'sans-serif';
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.text-center {
  text-align: center;
}
.container {
  background: #fff;
  @include row;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */
.logo {
  padding-top: 10px;
  width: 300px;
}
.navbar {
  padding: 15px 0 0 0;
  border-bottom: 3px solid gray;
}
nav {
  width: 100%;
  background: #313131;
  height: 80px;
  text-align: center;
  }
nav ul {
list-style-type: none;
padding-top: 25px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  font-weight: 800;
  padding: 30px;
  font-size: $largest;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

nav ul li a:hover {
  color: black;
}

.slides {
  width: 100%;
  margin-bottom: -30px;
  border: none;
}

.flex-control-nav li a {
width: 11px;
height: 11px;
background: #fff;
top: 0;
display: none;
}
.title {
  margin-top: -30px;
  padding-bottom: 10px;
}
.four {
  padding-top: 10px;
  @include span-columns(4);
}
.sm-icons {
  padding: 15px;
  margin-top: 10px;
}
.footer {
  background-color: #fff;
  height: 260px;
  border-top: 3px solid gray;
}

form input{
  width: 400px;
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -15px;
  resize: none;
}
.submit-button {
  height: 30px;
  width: 80px;
  margin-left: 25px;
}
.footer-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
hr {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
