@import "bourbon/bourbon";
@import "neat/neat";

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

$break-large: 1000px;
$break-nav:840px;
$break-small: 600px;

/* Values */
$largest:30px;



h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
h2 {
  font-size: 25px;
  color:#fff;
  @media screen and (max-width: $break-nav) {
    padding: 30px;
  }
}
p {
  text-indent: 30px;
  font-size: 18px;
  padding: 15px 35px;
  color: #fff;
}
.subtitle {
  font-style: italic;
  color:white;
}
body {
  background: url('img/BG2.jpg') no-repeat top center fixed;
  background-size: 100%;
  background-color: black;
  font-family: 'futura-pt', 'sans-serif';
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) {
    background: url('img/BG2.jpg') no-repeat top center fixed;
  }
  @media screen and (max-width: $break-nav) {
    background: url('img/BG2.jpg') no-repeat top center fixed;
    background-size: 100%;
    background-color: black;
  }
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.text-center {
  text-align: center;
}
.container {
  background: #171717;
  @include row;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $break-nav){
    width: 100%;
    padding-top: 30px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    width: 100%;
    padding-top: 30px;
  }
}

/* Navigation */
.logo {
  padding-top: 10px;
  width: 300px;
}
.navbar {
  padding: 15px 0 0 0;
  border-bottom: 3px solid gray;
  @media screen and (max-width: $break-nav) {
    border-bottom: none;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    border-bottom: none;
  }

}
nav {
  width: 100%;
  background: #171717;
  height: 80px;
  text-align: center;
  @media screen and (max-width: $break-nav) {
    height: auto;
    text-align: left;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    height: auto;
    text-align: left;
  }

  }
nav ul {
list-style-type: none;
padding-top: 25px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  font-weight: 800;
  padding: 30px;
  font-size: $largest;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s ease;
  @media screen and (max-width: $break-nav){
    padding: 0;
    display: block;
    margin-left: 20px;
    padding: 10px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    padding: 0;
    display: block;
    margin-left: 20px;
    padding: 10px;
  }

}

nav ul li a:hover {
  color: #79211a;
}

.slides {
  width: 100%;
  margin-bottom: -30px;
  border: none;
  @media screen and (max-width: $break-nav) {
    display: none;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    display: none;
  }

}
.flexslider {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0px;
  @media screen and (max-width: $break-nav) {
    display: none;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    display: none;
  }

}
.flex-control-nav li a {
width: 11px;
height: 11px;
background: #fff;
top: 0;
display: none;
@media screen and (max-width: $break-nav) {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
  display: none;
}
}

/* Begin Collapse */

.nav-collapse ul {
  margin-top: 25px;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  @media screen and (max-width: $break-nav){
    margin-top: 0px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    margin-top: 0px;
  }
}

.nav-collapse li {
  width: 100%;
  display: inline;
  @media screen and (max-width:$break-nav) {
    display: block;
    border: 1px solid white;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    display: block;
    border: 1px solid white;
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;

}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url("img/hamburger.gif") no-repeat 50% 33%;
  text-indent: -9999px;
  margin: 30px;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-top: -50px;
}

@media screen and (min-width: $break-nav) {
  .js .nav-collapse {
    position: relative;

  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
  .js .nav-collapse {
    position: relative;

  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: block;
  }
}
/* End Nav */
.title {
  margin-top: -30px;
  padding-bottom: 10px;
  @media screen and (max-width: $break-nav) {
    margin-top: 0px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    margin-top: 0px;
  }
}
.four {
  padding-top: 10px;
  @include span-columns(4);
  @media screen and (max-width: $break-small) {
    width: 100%;
    padding: 20px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    width: 100%;
    padding: 20px;
  }
}
.four h1 {
  color: #171717;
}
.sm-icons {
  padding: 15px;
  margin-top: 10px;
  transition: 0.5s ease;
  @media screen and (max-width: $break-nav) {
    width: 49%;
    padding: 0;  }
  @media screen and (max-width: $break-small) {
    width: 20%;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    width: 20%;
  }
}
.sm-icons:hover {
  opacity: .8;
}
.footer {
  background-color: #fff;
  height: 260px;
  border-top: 3px solid gray;
  opacity: .8;
  @media screen and (max-width: $break-small) {
    height: 700px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    height: 1300px;
  }
}

form input{
  width: 100%;
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    height: 70px;
    font-size: 40px;
  }
}
textarea {
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -15px;
  resize: none;
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    height: 100px;
    font-size: 40px;
  }
}

.submit-button {
  height: 30px;
  width: 100px;
  margin-left: 0;
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    height: 60px;
    width: 200px;
  }
}
.footer-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
hr {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Beer Page */

.five {
  @include span-columns(6);
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  @media screen and (max-width: $break-nav){
    width: 98%;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
    width: 98%;
  }
}
.five p {
  text-indent: 0;
  padding: 30px;
}
.five img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.page-title {
  font-size: 60px;
  text-align: center;
  padding: 15px;
  @media screen and (max-width: $break-nav) {
    font-size: 40px;
  }
}

.column {
  @include row();
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* About Page */
.about-text {
  padding: 10px 140px;
  font-size: 20px;
  text-indent: 0;
  margin: 20px;
  @media screen and (max-width: 1400px) {
    padding: 10px 10px;
  }
}
.about-individual-container {
  padding:10px 40px;
  position: relative;
  margin: 20px;
  @media screen and (max-width: $break-nav) {
    padding: 10px;
  }
}
.about-portrait-link {
  text-decoration: none;
}
.about-portrait-label {
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  @media screen and (max-width: $break-small) {
    padding: 10px;
    text-align: center;
  }
}
.about-seal {
  padding: 10px;
  width: 100%;
  max-width: 600px;
  @media screen and (max-width: $break-nav) {
    width: 100%;
  }
}
.about-portrait {
  max-width: 250px;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  align: left;
  @media screen and (max-width: $break-nav) {
    width: 200px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $break-small) {
    margin: 10px 85px;
    width: 280px;
    text-align: center;

  }
}

.about-body {
  color: white;
  font-size: 20px;
  text-indent: 0;
  @media screen and (max-width: $break-nav) {
    padding: 0;
  }
}

.hours {
  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {
      font-size: 25px;
  }
}

.store-img {
  padding: 20px;
}

.disqus-thread {
  position: relative;
  display: block;
  color: gray;
}
#dsq-2 {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 15px;;
}

.publisher-nav-color {}
