/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Values */
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700; }

h2 {
  font-size: 25px; }
  @media screen and (max-width: 840px) {
    h2 {
      padding: 30px; } }

p {
  text-indent: 30px;
  font-size: 18px;
  padding: 15px 35px; }

.subtitle {
  font-style: italic; }

body {
  background: url("img/background.jpg") no-repeat center center fixed;
  background-color: black;
  font-family: 'futura-pt', 'sans-serif'; }

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.text-center {
  text-align: center; }

.container {
  background: #fff;
  display: block;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 840px) {
    .container {
      width: 100%;
      padding-top: 30px; } }

/* Navigation */
.logo {
  padding-top: 10px;
  width: 300px; }

.navbar {
  padding: 15px 0 0 0;
  border-bottom: 3px solid gray; }
  @media screen and (max-width: 840px) {
    .navbar {
      border-bottom: none; } }

nav {
  width: 100%;
  background: #313131;
  height: 80px;
  text-align: center; }
  @media screen and (max-width: 840px) {
    nav {
      height: auto;
      text-align: left; } }

nav ul {
  list-style-type: none;
  padding-top: 25px; }

nav ul li {
  display: inline; }

nav ul li a {
  font-weight: 800;
  padding: 30px;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s ease; }
  @media screen and (max-width: 840px) {
    nav ul li a {
      padding: 0;
      display: block;
      margin-left: 20px;
      padding: 10px; } }

nav ul li a:hover {
  color: black; }

.slides {
  width: 100%;
  margin-bottom: -30px;
  border: none; }
  @media screen and (max-width: 840px) {
    .slides {
      display: none; } }

@media screen and (max-width: 840px) {
  .flexslider {
    display: none; } }

.flex-control-nav li a {
  width: 11px;
  height: 11px;
  background: #fff;
  top: 0;
  display: none; }
  @media screen and (max-width: 840px) {
    .flex-control-nav li a {
      display: none; } }

/* Begin Collapse */
.nav-collapse ul {
  margin-top: 25px;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }
  @media screen and (max-width: 840px) {
    .nav-collapse ul {
      margin-top: 0px; } }

.nav-collapse li {
  width: 100%;
  display: inline; }
  @media screen and (max-width: 840px) {
    .nav-collapse li {
      display: block;
      border: 1px solid white; } }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.disable-pointer-events {
  pointer-events: none !important; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url("img/hamburger.gif") no-repeat 50% 33%;
  text-indent: -9999px;
  margin: 30px;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-top: -50px; }

@media screen and (min-width: 840px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
/* End Nav */
.title {
  margin-top: -30px;
  padding-bottom: 10px; }
  @media screen and (max-width: 840px) {
    .title {
      margin-top: 0px; } }

.four {
  padding-top: 10px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .four:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .four {
      width: 100%;
      padding: 20px; } }

.sm-icons {
  padding: 15px;
  margin-top: 10px;
  transition: 0.5s ease; }
  @media screen and (max-width: 840px) {
    .sm-icons {
      width: 49%;
      padding: 0; } }
  @media screen and (max-width: 600px) {
    .sm-icons {
      width: 20%; } }

.sm-icons:hover {
  opacity: .8; }

.footer {
  background-color: #fff;
  height: 260px;
  border-top: 3px solid gray; }
  @media screen and (max-width: 600px) {
    .footer {
      height: 800px; } }

form input {
  width: 100%;
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

textarea {
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -15px;
  resize: none; }

.submit-button {
  height: 30px;
  width: 80px;
  margin-left: 25px; }

.footer-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

hr {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block; }

/*# sourceMappingURL=style.css.map */
